<% if group_data[:dishes].present? && group_data[:group_info][:dish_group].published? %>

    <h3 class="menu-section-title">
      <%= group_data[:name] %>
      <span style="font-weight:400; letter-spacing:1px;">
        <%= Dish::TYPE[group_data[:group_type]] %>
      </span>
    </h3>
    <div class="menu-section-title-after"></div>

      <!-- size -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="menu-section">
        <div class="size-item">
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-2">
              <span class="menu-item-price">Small</span>
            </div>
            <div class="col-2">
              <span class="menu-item-price">Large</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if group_data[:dishes].size > 1 %>
      <div class="col-xs-12 col-sm-6 mobile-hide">
        <div class="menu-section">
          <div class="size-item">
            <div class="row">
              <div class="col-8">
              </div>
              <div class="col-2">
                <span class="menu-item-price">Small</span>
              </div>
              <div class="col-2">
                <span class="menu-item-price">Large</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <!-- Dishes -->
  <div class="row mb-3">
    <% group_data[:dishes].each.with_index do |dish, index| %>
      <% if (index+1).odd? %>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <div class="menu-item">
              <div class="row menu-item-name-price">
                <div class="col-8">
                  <span class="menu-item-name"><%= dish.english_name.html_safe %></span>
                </div>
                <div class="col-2">
                  <span class="menu-item-price"><%= dish.small_price.present? ? '$' + dish.small_price.to_s : 'N/A' %></span>
                </div>
                <div class="col-2">
                  <span class="menu-item-price"><%= dish.large_price.present? ? '$' + dish.large_price.to_s : 'N/A' %></span>
                </div>
              </div>
              <div>
                <div class="menu-item-description"><%= dish.chinese_name.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <div class="menu-item">
              <div class="row menu-item-name-price">
                <div class="col-8">
                  <span class="menu-item-name"><%= dish.english_name.html_safe %></span>
                </div>
                <div class="col-2">
                  <span class="menu-item-price"><%= dish.small_price.present? ? '$' + dish.small_price.to_s : 'N/A' %></span>
                </div>
                <div class="col-2">
                  <span class="menu-item-price"><%= dish.large_price.present? ? '$' + dish.large_price.to_s : 'N/A' %></span>
                </div>
              </div>
              <div>
                <div class="menu-item-description"><%= dish.chinese_name.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if group_data[:group_info][:dish_group].dish_group_images.present? %>
    <div class="row">
      <% group_data[:group_info][:dish_group].dish_group_images.order(position: :asc).each do |dish_image| %>
        <div class="col-lg-4 col-md-6 mb-3">
          <img
            src="<%= dish_image.image.url(:medium) %>"
            class="w-100 shadow-1-strong rounded mb-1 menu-section-img"
            alt=""
          />
          <div class="menu-pic-item-name" style="font-weight:500; color:#b26d20; letter-spacing: 0.7px; font-size:1.1rem;">
            <%= dish_image.title.present? ? dish_image.title : group_data[:group_info][:dish_group].name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %> 