<div class="content-wrapper px-2 py-2">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Menu</h1>
          </div>
          <div class="col-sm-3">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= admin_root_path %>">Home</a></li>
              <li class="breadcrumb-item active">Menu</li>
            </ol>
          </div>
          <div class="col-sm-3">
            <%= link_to 'Create Dish', new_admin_dish_path, class: "btn btn-block btn-outline-success" %>
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>English Name</th>
                    <th>Chinese Name</th>
                    <th>Price(small)</th>
                    <th>Price(large)</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="dish_list">
                  <% @dishes.each_with_index do |dish, index| %>
                    <tr data-index="<%= index %>" data-id="<%= dish.id %>" data-position_id="<%= dish.position %>" class="sortable-class" >
                      <td><%= dish.position %></td>
                      <td><%= dish.english_name %></td>
                      <td><%= dish.chinese_name %></td>
                      <td><%= dish.small_price %></td>
                      <td><%= dish.large_price %></td>
                      <td>
                        <div class="d-flex justify-content-around">
                          <%= link_to edit_admin_dish_path(dish), class: "btn btn-sm btn-info mr-2" do %>
                            <i class="far fa-edit"></i>
                          <% end %>
                          <button type="button" class="btn btn-sm btn-danger dish-destroy" data-id="<%= dish.id %>">
                            <i class="far fa-times-circle"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script>
  var el = document.getElementById('dish_list');
  var list = Sortable.create(el, {
    animation: 500,
    draggable: ".sortable-class",
    onEnd: function (evt) {
      let id = evt.item.dataset.id
      let new_index = evt.newIndex
      let position_id = $("#dish_list").find("[data-index=" + new_index + "]").attr("data-position_id")
      let data = new FormData()
      data.append('position', position_id)
      $.ajax({
        url: "/admin/dishes/" + id + "/update_position",
        type: 'PUT',
        contentType: false,
        processData: false,
        data: data,
      })
    }
  });

  $(document).on('click', ".dish-destroy",
    function(){
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          let id = $(this).data("id")
          $.ajax({
            url: "/admin/dishes/" + id,
            method: 'delete',
          })
          .done(function (ret) {
            location.reload();
          })
        }
      })
    }
  )
</script>

<style>
  .sortable-class {
    cursor: move;
  }
</style>
